# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
db.sqlite3

# Django
staticfiles/
media/
.env

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store

# Playwright
playwright/.cache/
**/state.json

